<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzr.study.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.dzr.study.po.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="email" property="email"/>
        <result column="openid" property="openid"/>
        <result column="neckname" property="neckname"/>
        <result column="sex" property="sex"/>
        <result column="headimgurl" property="headimgurl"/>
        <result column="subscribe" property="subscribe"/>
        <result column="subscribe_time" property="subscribeTime"/>
        <result column="remark" property="remark"/>
        <result column="is_delete" property="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, name, phone, email, openid, neckname, sex, headimgurl, subscribe, subscribe_time, 
    remark, is_delete
  </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insert" parameterType="com.dzr.study.po.User">
    insert into user (id, name, phone, 
      email, openid, neckname, 
      sex, headimgurl, subscribe, 
      subscribe_time, remark, is_delete
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{phone,jdbcType=INTEGER}, 
      #{email,jdbcType=VARCHAR}, #{openid,jdbcType=VARCHAR}, #{neckname,jdbcType=VARCHAR},
        #{sex,jdbcType=INTEGER}, #{headimgurl,jdbcType=VARCHAR}, #{subscribe,jdbcType=INTEGER},
        #{subscribeTime,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, #{isDelete,jdbcType=INTEGER}
      )
  </insert>

    <insert id="insertSelective" parameterType="com.dzr.study.po.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="openid != null">
                openid,
            </if>
            <if test="neckname != null">
                neckname,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="headimgurl != null">
                headimgurl,
            </if>
            <if test="subscribe != null">
                subscribe,
            </if>
            <if test="subscribeTime != null">
                subscribe_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isDelete != null">
                is_delete,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="openid != null">
                #{openid,jdbcType=VARCHAR},
            </if>
            <if test="neckname != null">
                #{neckname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="headimgurl != null">
                #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="subscribe != null">
                #{subscribe,jdbcType=INTEGER},
            </if>
            <if test="subscribeTime != null">
                #{subscribeTime,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                #{isDelete,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.dzr.study.po.User">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=INTEGER},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="openid != null">
                openid = #{openid,jdbcType=VARCHAR},
            </if>
            <if test="neckname != null">
                neckname = #{neckname,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="headimgurl != null">
                headimgurl = #{headimgurl,jdbcType=VARCHAR},
            </if>
            <if test="subscribe != null">
                subscribe = #{subscribe,jdbcType=INTEGER},
            </if>
            <if test="subscribeTime != null">
                subscribe_time = #{subscribeTime,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isDelete != null">
                is_delete = #{isDelete,jdbcType=BIT},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.dzr.study.po.User">
    update user
    set name = #{name,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=INTEGER},
      email = #{email,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      neckname = #{neckname,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      headimgurl = #{headimgurl,jdbcType=VARCHAR},
      subscribe = #{subscribe,jdbcType=INTEGER},
      subscribe_time = #{subscribeTime,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="findUserList" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user ORDER BY id;
    </select>

</mapper>